@inherits LayoutComponentBase

<RadzenDialog />


<NavMenu />


<div class="container-fluid">
    <div class="row">
        <SideMenu />

        <div class="col-sm p-3 min-vh-100">
            @Body
        </div>
    </div>
</div>


<Footer />
