<footer class="bg-light mt-auto mt-3">
    <div class="container">

        <div class="row">
            <div class="col">

                <h3 class="text-center">A propos de nous</h3>

                <p>
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Cupiditate fuga esse non repellat inventore
                    pariatur reprehenderit nihil aspernatur maiores quae aliquid nobis eveniet, sed adipisci minus est.
                    Autem, vel alias!
                </p>

                <div class="d-flex flex-row m-1 justify-content-around">
                    <a href="#"><h4><i class="bi bi-facebook"></i></h4></a>
                    <a href="#"><h4><i class="bi bi-facebook"></i></h4></a>
                    <a href="#"><h4><i class="bi bi-facebook"></i></h4></a>
                </div>
            </div>
            <div class="col">

                <h3 class="text-center">Contact</h3>

                <div class="d-flex flex-column justify-content-center">
                    <span class=""><i class="bi bi-telephone me-3"></i> 02.365/25.12.32</span>
                    <span class=""><i class="bi bi-envelope me-3"></i> eice.secretariat@hainaut.be</span>
                    <span class=""><i class="bi bi-house"></i> Rue Ernest Martel 6, 7190 Écaussinnes</span>
                </div>

            </div>

            <div class="col">
                <h3 class="text-center">Newsletter</h3>

                <div class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="email" aria-label="newsletter" aria-describedby="newsletter-btn">
                    <button class="btn btn-outline-secondary" type="button" id="newsletter-btn">S'inscrire'</button>
                </div>

            </div>
        </div>

    </div>
</footer>