<footer class="bg-light mt-auto mt-1">
    <div class="container-lg d-flex justify-content-between align-self-center">
        
            <div style="height: 150px;padding: 0 0.3em;">
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Cupiditate fuga esse non repellat inventore
                pariatur reprehenderit nihil aspernatur maiores quae aliquid nobis eveniet, sed adipisci minus est.
                Autem, vel alias!
            </div>
            <div style="height: 150px;padding: 0 0.3em;">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis atque, repellat dolores vel officia
                corporis aperiam tenetur. Voluptatibus odio, dolor quaerat neque nisi placeat deserunt, ex facere beatae
                nesciunt ut!
            </div>
            <div style="height: 150px; padding : 0 0.3em;">
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sequi, odio, rerum reprehenderit quod unde
                voluptas ut provident sit deleniti reiciendis repellendus sunt fuga exercitationem nobis, placeat
                dignissimos error quos pariatur?
            </div>
        
    </div>
</footer>