<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">EICE</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <NavLink class="nav-link" aria-current="page" href="/Index">Accueil</NavLink>
        </li>
        <li class="nav-item">
          <NavLink class="nav-link" href="#">Features</NavLink>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Pricing</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Dropdown link
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li>
      </ul>

      <div class="dropstart m-1">
        <a class="dropbox-toggle text-dark" href="#" id="profileDropdown" role="button" data-bs-toggle="dropdown"
          aria-expanded="false" style="text-decoration:none;">
          <i class="bi bi-person" style="font-size: 1.5em;">
          </i>
          Profile
        </a>

        <ul class="dropdown-menu" aria-labelledby="profileDropdown">
          <li>
            <NavLink class="dropdown-item text-dark" href="login">Se connecter</NavLink>
          </li>
          <li>
            <NavLink class="dropdown-item text-dark" href="register">S'inscrire</NavLink>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>

@code {

}