<div class="col-sm-auto bg-light sticky-top">
    <div class="d-flex flex-sm-column flex-row flex-nowrap bg-light align-items-center sticky-top">
        <ul class="nav nav-flush flex-sm-column flex-row flex-nowrap mb-auto mx-auto text-center align-items-center">
            <li class="nav-item">
                <NavLink href="/Profile/Information" class="nav-link py-3 link-dark" title=""
                         data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Information">
                    Informations générales
                </NavLink>
            </li>
            <li class="nav-item">
                <NavLink href="/Profile/Addresses" class="nav-link py-3 link-dark" title=""
                         data-bs-toggle="Appointments" data-bs-placement="right" data-bs-original-title="Addresses">
                    Adresses
                </NavLink>
            </li>
            <li class="nav-item">
                <NavLink href="/Profile/Password" class="nav-link py-3 link-dark" title="" data-bs-toggle="Password"
                         data-bs-placement="right" data-bs-original-title="Password">
                    Mot de passe
                </NavLink>
            </li>
            <li class="nav-item">
                <NavLink href="/Profile/Appointments" class="nav-link py-3 link-dark" title="" data-bs-toggle="Appointments"
                         data-bs-placement="right" data-bs-original-title="Appointments">
                    Rendez-vous
                </NavLink>
            </li>
            <li class="nav-item">
                <NavLink href="/Profile/Delete" class="nav-link py-3 link-light bg-danger" title="" data-bs-toggle="DeleteAccount"
                         data-bs-placement="right" data-bs-original-title="Schedules">
                    Supprimer le compte
                </NavLink>
            </li>
        </ul>
    </div>
</div>

@code {

}
