@using Web.DepotEice.UIL.Managers;

@inject UserManager UserManager;

<div class="col-sm-auto sticky-top">
    <div class="d-flex flex-sm-column flex-row flex-nowrap align-items-center sticky-top">
        <ul class="nav nav-flush flex-sm-column flex-row flex-nowrap mb-auto mx-auto text-center align-items-center">
            <li>
                <NavLink href="/depot/modules" class="nav-link py-2 px-3 link-dark" title=""
                         data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Dashboard">
                    <i class="bi bi-book fs-2"></i>
                </NavLink>
            </li>
            <li>
                <NavLink href="depot/schedules" class="nav-link py-3 px-2 link-dark" title="" data-bs-toggle="tooltip"
                         data-bs-placement="right" data-bs-original-title="Schedules">
                    <i class="bi bi-journal fs-2"></i>
                </NavLink>
            </li>
            @if (IsDirection)
            {
                <li>
                    <NavLink href="/depot/users" class="d-block p-2 link-dark text-decoration-none" title="" data-bs-toggle="tooltip"
                             data-bs-placement="right" data-bs-original-title="Icon-only">
                        <i class="bi bi-people fs-2"></i>
                    </NavLink>
                </li>
                <li>
                    <NavLink href="depot/manageopeninghours" class="nav-link py-3 px-2 link-dark" title=""
                             data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Orders">
                        <i class="bi bi-clock fs-2"></i>
                    </NavLink>
                </li>
                <li>
                    <NavLink href="depot/manage-appointments" class="nav-link py-3 px-2 link-dark" title=""
                             data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Orders">
                        <i class="bi bi-calendar4-week fs-2"></i>
                    </NavLink>
                </li>
                <li class="nav-item">
                    <NavLink href="/depot/articles" class="nav-link py-2 px-3 link-dark" title=""
                             data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Home">
                        <i class="bi bi-newspaper fs-2"></i>
                    </NavLink>
                </li>
            }
        </ul>
    </div>
</div>

@code {
    public bool IsDirection { get; private set; } = false;

    protected override async Task OnInitializedAsync()
    {
        IsDirection = await UserManager.IsInRoleAsync(UserManager.DIRECTION_ROLE);
    }
}
