<h3 class="text-center">OpeningHours</h3>



@code {

    // TODO : Récupérer les heures d'ouvertures pour chaque jours
    // TODO : Récupérer les heures de fermeture consécutive qui ne sont pas suivis d'un dimanche

}
