@page "/appointment"

@using AutoMapper;
@using Web.DepotEice.BLL.IServices
@using Web.DepotEice.BLL.Models
@using Web.DepotEice.Helpers;
@using Web.DepotEice.UIL.Managers;
@using Web.DepotEice.UIL.Models.Forms
@using Web.DepotEice.UIL.Models;

@inject ILogger<Appointment> Logger;
@inject IOpeningHoursService OpeningHoursService;
@inject UserManager UserManager;
@inject IAppointmentService AppointmentService;
@inject IMapper Mapper;
@inject NavigationManager NavigationManager;

<PageTitle>Rendez-vous</PageTitle>

<h2 class="text-center my-5">Prendre rendez-vous</h2>

<div class="container my-5 py-5 bg-light border border-1">

    <AppointmentSelector AppointmentForm="AppointmentForm" AppointmentCreated="OnAppointmentCreated" SelectedTime="SelectedTime" />

</div>

<Modal @ref="ResultModal" Title="Rendez-vous crée">
    <BodyTemplate>

        <div class="row">
            <p>Votre rendez-vous a correctement été crée, vous allez être rediriger vers les détails du rendez-vous</p>
        </div>

        <div class="d-inline-flex">
            <b class="mx-2">@AppointmentForm.From.ToString("D")</b> à <b class="mx-2">@SelectedTime.ToString()</b>
        </div>

    </BodyTemplate>
    <FooterTemplate>
        <Button Color="ButtonColor.Secondary" @onclick="OnCloseModalAsync">Fermer</Button>
    </FooterTemplate>
</Modal>

@code {
    /// <summary>
    /// The result modal
    /// </summary>
    public Modal ResultModal { get; private set; } = new();

    /// <summary>
    /// The appointment form.
    /// </summary>
    public AppointmentForm AppointmentForm { get; private set; } = new();

    /// <summary>
    /// The selected time span
    /// </summary>
    public TimeOnly SelectedTime { get; private set; }


    private async Task OnAppointmentCreated()
    {
        await ResultModal.ShowAsync();
    }

    /// <summary>
    /// Event handler when the user click on the close button of the modal
    /// </summary>
    /// <returns></returns>
    private async Task OnCloseModalAsync()
    {
        await ResultModal.HideAsync();

        NavigationManager.NavigateTo("profile/appointments");
    }
}
