@page "/messages"
@using Web.DepotEice.UIL.Managers;

@inject UserManager UserManager;

<Authorize>
    <Authorized>
        <div class="container-fluid d-flex flex-row vh-100 my-3">
            <div class="col-3" style="overflow-y: scroll; overflow-x: hidden;">
                <div class="chatlist">
                    <div class="modal-dialog-scrollable">
                        <div class="d-flex flex-row">

                            <input type="text" class="form-control me-1 search-input" id="inlineFormInputGroup" placeholder="Search"
                                   aria-label="search">
                            <button class="add" href="#">
                                <i class="bi bi-plus-circle fs-2 add-icon"></i>
                            </button>

                        </div>

                        <div class="border-end" style="border-radius: 0 0.5rem 0 0">
                            <div class="chat-list">

                                @for (int i = 0; i < 15; i++)
                                {
                                    <a class="d-flex my-1 p-1 align-items-center chat-box">
                                        <div class="flex-shrink-0">
                                            <img class="img-fluid" src="https://mehedihtml.com/chatbox/assets/img/user.png" alt="user img">
                                            <span class="active"></span>
                                        </div>
                                        <div class="flex-grow-1 ms-3">
                                            <h3 class="text-decoration-underline">Mehedi Hasan</h3>
                                            <p>front end developer</p>
                                        </div>
                                    </a>
                                }

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col ms-2" style="overflow: hidden">
                <div class="modal-content" style="height:100%;">
                    <div class="row border-bottom">
                        <div class="col-8">
                            <div class="d-flex align-items-center">
                                <div class="flex-shrink-0">
                                    <img class="img-fluid" src="https://mehedihtml.com/chatbox/assets/img/user.png"
                                         alt="user img">
                                </div>
                                <div class="flex-grow-1 ms-3">
                                    <span class="fs-3 fw-semibold">Mehedi Hasan</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-4 d-flex align-content-start justify-content-end dropstart">
                            <ul>
                                <li class="navbar nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                                       aria-expanded="false">
                                        <i class="bi bi-three-dots-vertical"></i>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li><a class="dropdown-item" href="#">Action</a></li>
                                        <li><a class="dropdown-item" href="#">Another action</a></li>
                                        <li>
                                            <hr class="dropdown-divider">
                                        </li>
                                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="d-flex flex-column-reverse my-3" style="height: 100%; overflow-y: scroll">

                        @for (int i = 0; i < 60; i++)
                        {

                            <div class="d-flex flex-column @(i % 3 == 0 ? "sender" : "replier")">
                                <span class="chat-message"> Hey, Are you there? @i </span>
                                <span class="align-self-end mx-2">10:06 am</span>
                            </div>
                        }
                    </div>


                    <div class="d-flex flex-row">

                        <textarea type="text" class="form-control" aria-label="message…" placeholder="Write message…"
                                  style="height:10rem; border-radius: 0.5rem 0 0 0.5rem;" />

                        <button class="btn btn-outline-primary" style="border-radius: 0 0.5rem 0.5rem 0">
                            <i class="bi bi-send"></i> Envoyer
                        </button>

                    </div>
                </div>
            </div>
        </div>
    </Authorized>
    <Unauthorized>
        <h1>Vous n'êtes pas authorisé à accéder à la page</h1>
    </Unauthorized>
</Authorize>

@code {
}
