@page "/messages"

<Authorize Role="Guest">
    <Authorized>
        <h1>Vous êtes authorisé à accéder à la page</h1>
    </Authorized>
    <Unauthorized>
        <h1>Vous n'êtes pas authorisé à accéder à la page</h1>
    </Unauthorized>
</Authorize>

@code {

}
