@page "/Profile/Password"

@using AutoMapper
@using Web.DepotEice.BLL.IServices
@using Web.DepotEice.BLL.Models
@using Web.DepotEice.UIL.Models.Forms

@inject ILogger<Password> Logger;
@inject IUserTokenService UserTokenService;
@inject IUserService UserService;
@inject IMapper Mapper;


<PageTitle>EICE - Changer le mot de passe</PageTitle>

<h3 class="text-center my-5">Créer un nouveau mot de passe</h3>

<div class="container my-5 py-5 bg-light border border-1">
    <div class="d-flex align-items-center justify-content-center mt-2">
        <EditForm Model="_currentPassword" OnValidSubmit="OnValidSubmit">
            <DataAnnotationsValidator />

            @*<div class="mb-3">
                <label for="current-password" class="form-label">Mot de passe actuel</label>
                <InputText id="current-password" type="password" class="form-control" aria-describedby="aide password"
                @bind-Value="_currentPassword.currentPassword" />
                <ValidationMessage class="text-danger" For="@(() => _currentPassword.currentPassword)" />
            </div>*@

        </EditForm>
    </div>
</div>


@code {
    private record CurrentPasswordModel(string currentPassword, UpdatePasswordForm updatePasswordForm);

    private CurrentPasswordModel _currentPassword = new("", new UpdatePasswordForm());

    private async Task OnValidSubmit()
    {
        PasswordUpdateModel passwordUpdate = Mapper.Map<PasswordUpdateModel>(null);

        bool result = await UserService.UpdatePassword(passwordUpdate);
    }
}