@page "/forgotpassword"

@using Web.DepotEice.UIL.Managers
@using Web.DepotEice.UIL.Models.Forms

@inject ILogger<ForgotPassword> Logger;
@inject UserManager UserManager;

<PageTitle>Mot de passe oublié</PageTitle>

<h2 class="text-center my-5">Mot de passe oublié</h2>

<div class="container my-5 py-5 bg-light border border-1">
    <div class="d-flex align-items-center justify-content-center mt-2">
        <EditForm class="mt-3" Model="@_forgotPasswordForm" OnValidSubmit="@OnValidationSubmit" style="width: 50%">
            <DataAnnotationsValidator></DataAnnotationsValidator>

            <div class="mb-3">
                <label for="email" class="form-label">Adresse Email</label>
                <InputText type="email" class="form-control" id="email" aria-describedby="aide email"
                           @bind-Value="_forgotPasswordForm.Email" />
                <ValidationMessage class="text-danger" For="@(() => _forgotPasswordForm.Email)" />
                <div id="email-helper" class="form-text">
                    Votre adresse email est privé et ne sera partagée avec personne. Pour plus d'informations,
                    consultez notre <a href="#">politique de confidentialité</a>
                </div>
            </div>
            <div class="mb-3">
                <button type="submit" class="btn btn-outline-primary mx-auto" @onclick="OnValidationSubmit">
                    Envoyer le mail
                </button>
            </div>
            <div class="mb-3">
                Pour vous connecter, revenez sur la page de <NavLink class="" href="login">connexion</NavLink>
            </div>
        </EditForm>
    </div>
</div>

@code {
    private ForgotPasswordForm _forgotPasswordForm = new();

    public async Task OnValidationSubmit()
    {
        try
        {
            await UserManager.RequestNewPassword(_forgotPasswordForm.Email);
        }
        catch (Exception e)
        {
            Logger.LogError(e.Message);
        }
    }
}
