@page "/updatePassword/{userId}/{token}"
@page "/updatePasswordtest"

@using Web.DepotEice.UIL.Models.Forms

@inject ILogger<UpdatePassword> Logger;

<PageTitle>Changer de mot de passe</PageTitle>

<h3 class="text-center my-5">Créer un nouveau mot de passe</h3>

<div class="container my-5 py-5 bg-light border border-1">
    <div class="d-flex align-items-center justify-content-center mt-2">
        <PasswordUpdate UpdatePassword="_updatePasswordForm" OnFormExecuted="@(async () => await OnValidSubmit())" />
    </div>
</div>

@code {
    [Parameter]
    public string UserId { get; set; } = string.Empty;

    [Parameter]
    public string Token { get; set; } = string.Empty;

    private UpdatePasswordForm _updatePasswordForm = new();

    public async Task OnValidSubmit()
    {
        Logger.LogInformation($"New password : {_updatePasswordForm.Password}\n" +
                                $"Confirm password : {_updatePasswordForm.ConfirmPassword}");
    }
}
